<div class="modal-header">
  <h3 class="modal-title">Please re-enter your credentials</h3>
</div>
<div class="modal-body">
    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>
  <form novalidate class="css-form">
    Email: <input type="email" ng-model="check.email" required /><br />
    Password: <input type="password" ng-model="check.password" required /><br />
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="update(check)">Submit</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>